{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
    <div>
        <form action="{% url 'add_student' %}" method="post" class="reg-userform-form">
            {% csrf_token %}
            <div class="form-group col-md-4">
                <label for="inputState">Select User</label>
                <select id="inputState" class="form-control" name="user_id" style="overflow-y: scroll;">
                  <option selected >Choose a User</option>
                  {% for user in users %}
                        <option value="{{user.id}}" style="display: 2rem;">
                                <strong>{{user}}</strong>
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="username">CGPA</label>
                <input type="text" class="form-control" id="username1" aria-describedby="emailHelp" placeholder="cgpa"
                    name="cgpa" autocomplete="off" required>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Branch</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="branch" name="branch" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Academic Year</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="year" name="aca_year" required>
            </div>

            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
    </div>
{% endblock %}
