{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Fill form</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row" style="width: 3rem;">{{forloop.counter}}</th>
                    <td style="font-weight: bolder; letter-spacing: 1.5px;"><strong>{{event.event_name}}</strong></td>
                    <td>{{event.start_datetime}} L</td>
                    <td>{{event.end_datetime}}</td>
                    <td><a href="{% url 'event' id=event.id %}">
                        Form</a>
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
