{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}

{%block title%} Add Student {%endblock%}

{% block body %}
<div class="reg-container">
    <div class="reg-userform">
        <h5>Select one student</h5>
        <form action="{% url 'resolve_clash' id=clash.id %}" method="post" class="reg-userform-form">
            {% csrf_token %}
            <div class="form-group col-md-4">
                <label for="inputState">Select Student</label>
                <select id="inputState" class="form-control" name="student_id" style="overflow-y: scroll;">
                    <option selected>Choose a student</option>
                    {% for student in clash.list_of_students.all %}
                    <option value="{{ student.user.id }}">
                        <strong>{{ student }}</strong>
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
    </div>
</div>

<style>
    .reg-userform {
        background: white;
        padding: 3%;
        max-width: 1100px;
        margin: auto;
        border-radius: 0;
        filter: none;
    }

    .reg-userform>h1 {
        font-weight: bolder;
        letter-spacing: 1.5px;
        border-bottom: solid;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    .reg-userform>h5 {
        font-weight: bolder;
        margin-left: 2%;
    }

    .reg-userform-form {
        max-width: 600px;
        margin-left: 2%;
        margin-top: 2rem;
    }

    p {
        margin-left: 3%;
        margin-top: 1rem;
    }
</style>

{% endblock %}
