{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
    {% if event.cluster_count == 0 %}
        <form action="{% url 'create_cluster' id=event.id %}" method="post" class="reg-userform-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Create Cluster</button>
        </form>
    {% else %}
        <form action="{% url 'run_allocation' id=event.id %}" method="post" class="reg-userform-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Run allocation</button>
        </form>
        <h2>Cluster Assignment Summary</h2>
        {% for cluster_number, choices in clusters.items %}
            <h3>Cluster {{ cluster_number }} ({{ choices|length }} students)</h3>
            <ul>
                {% for choice in choices %}
                    <li>{{ choice.student.user.username }} - {{ choice.student.cgpa }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
