{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
    <form action="{% url 'create_cluster' id=event.id %}" method="post" class="reg-userform-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create Cluster</button>
    </form>
{% endblock %}
