{% extends './login_layout.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{%endblock%}
{%block title%} registration {%endblock%}

{% block body %}
<form method="POST" action="{% url 'event' id=event.id %}">
    {% csrf_token %}
    <input type="hidden" name="event_id" value="{{ event.id }}">

    <h3>Select Your Preferences</h3>
    {% for i in preference_range %}
        <label for="faculty_{{ i }}">Preference {{ i }}</label>
        <select name="faculty_{{ i }}" id="faculty_{{ i }}">
            <option value="">Select Faculty</option>
            {% for faculty in event.eligible_faculties.all %}
                <option value="{{ faculty.user.id }}">{{ faculty.abbreviation }}</option>
            {% endfor %}
        </select>
        <br>
    {% endfor %}

    <button type="submit">Submit Preferences</button>
</form>

{% endblock %}
